{% extends 'base.html' %}

{% block container %}
    <div class="top-pad">
    {% for product in products %}
        <div class="well">
            <h2>
                <a href="{{ url_for('index.product', key=product.key) }}">{{product['name'] }}</a>
                <small>$ {{ product.price }}</small>
            </h2>
        </div>
    {% endfor %}
</div>
{% endblock %}