{% extends 'index.html' %}

{% block container %}
    <div class="top-pad">
        {#<h4>{{ product|full_name }}</h4>#}
        <h1>{{ product['name'] }}
            <small>{{ product['category'] }}</small>
        </h1>
        <h3>{{ product['price']|format_currency }}</h3>
    </div>
{% endblock %}